* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
}

.container {
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  background: rgb(221, 160, 230);
  border-radius: 5px;
  padding: 10px;
}
.header {
  width: 380px;
  height: 200px;
  background-image: url(./img/todolist.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.clear i {
  font-size: 30px;
  color: white;
}
.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}
.content {
  width: 380px;
  height: 350px;
  max-height: 350px;
  background-color: #fff;
  overflow: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.content ul {
  padding: 0;
  margin: 0;
}
.item {
  width: 380px;
  height: 45px;
  min-height: 50px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  margin: 10px;
}
.item i.co {
  cursor: pointer;
}
.fa-check-circle {
  color: #6eb200;
}
.item p.text {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 20px;
  left: 50px;
  top: 5px;
  background-color: #fff;
  max-width: 285px;
}
.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}
.item i.de {
  position: absolute;
  font-size: 25px;
  right: 15px;
  top: 10px;
}
.item i.de:hover {
  color: red;
  cursor: pointer;
}
.add-to-do {
  position: relative;
  width: 380px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.add-to-do input {
  position: absolute;
  left: 50px;
  height: 35px;
  width: 310px;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  padding-left: 10px;
}
.add-to-do input::-webkit-input-placeholder {
  color: #4162f6;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
